.ventana{
	width: 1280px;
	height: 1024px;
	background-image: url("css/imagenes/bg-familias.jpg");
	background-repeat: no-repeat;
}
.cabecera{
	height: 30px;
	/*background-image: url("css/imagenes/cabecera.png");*/
	background-repeat: no-repeat;
}

li{
	display: block;
	width: 194px;
	height: 112px;
	color: white;
	float: left;
	margin-right: 6px;
	text-align: center;
	font-size: 25px;
	font-family: sans-serif;
	
	
}
li:nth-child(-n+4){
	margin-top: 320px;
}
li:nth-child(-n+1){
	margin-left: 165px;
}
li:nth-child(5){
	clear: left;
	margin-top: 130px;
	margin-left: 70px;
}
li:nth-child(n+5){
	margin-top: 50px;
	}

.footer{
	clear: both;
}
.boton{
	width: 315px;
	height: 200px;
	border: 1px solid white;
	background-color: black;
	float: left;
	margin-top:200px;
	color: white;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:20px;
	text-align:center;
}


